@tailwind base;
@tailwind components;
@tailwind utilities;
.layout {
  display: flex;
  height: 100vh;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}
/* Sidebar.css */
.sidebar-menu {
  width: 170px;
  display: grid;
  gap: 15px;
}

.nav-item {
  color: #AAB0BB;
  font-weight: medium;
  display: flex;
  gap: 12px;
  padding: 8px 12px;
  border-radius: 8px;
  background-color: transparent;
}

.nav-item.active {
  color: #2D3139;
  font-weight: medium;
  background-color: #ffffff;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  /* 반투명 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* 다른 요소 위에 표시 */
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  /* 모달 너비 조정 */
}