@tailwind base;
@tailwind components;
@tailwind utilities;
#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout {
  display: flex;
  height: 100vh;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}
/* Sidebar.css */
.sidebar-menu {
  width: 170px;
  display: grid;
  gap: 15px;
}

.nav-item {
  color: #AAB0BB;
  font-weight: medium;
  display: flex;
  gap: 12px;
  padding: 8px 12px;
  border-radius: 8px;
  background-color: transparent;
}

.nav-item.active {
  color: #2D3139;
  font-weight: medium;
  background-color: #ffffff;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  /* 반투명 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* 다른 요소 위에 표시 */
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  /* 모달 너비 조정 */
}
/* 별도의 CSS 파일에 추가 */
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #AAB0BB;
  border-radius: 2px;
  background-color: white;
}

input[type="checkbox"]:checked {
  background-color: #2D3139;
  border-color: #2D3139;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'%3E%3Cpath d='M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41L9 16.17z'/%3E%3C/svg%3E");
  background-size: 14px;
  background-position: center;
  background-repeat: no-repeat;
}

input[type="checkbox"]:hover {
  border-color: #2D3139;
}

input,
button:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* 카드 3D 회전 효과 */
.product-card {
  width: 140px;
  height: 140px;
  perspective: 1000px;
  /* 3D 효과 */
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.product-card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* 기존 스타일 반영 */
  align-items: start;
  /* 기존 스타일 반영 */
  
  /* 기존 p-4 유지 */
  box-shadow: var(--tw-shadow);
  /* Tailwind shadow 유지 */
}

/* ✅ 정사각형 유지 (기본 w-[140px], md:w-[160px], lg:w-[200px]) */
.card-front {
  background: white;
  z-index: 2;
  aspect-ratio: 1 / 1;
  /* 정사각형 비율 유지 */
}

/* 뒷면 (상품 이미지) */
.card-back {
  transform: rotateY(180deg);
  background: #f3f3f3;
}

.card-back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}